@import '/scss/materializecss/materializecss';

body {
	background: black;
	color: white;
	
	margin: 0;
	padding: 0;
	
	overflow: hidden;
}

main {
	width: 100%;
	height: calc(100vh - 24px);
}

footer {
	padding-left: 16px;
	padding-right: 16px;
	width: calc(100% - 16px - 16px);
	height: 24px;
	line-height: 24px;
}